@font-face {
  font-family: "UI-sans";
  src: url(./Assets/fonts/UI-Sens-serif/static/OpenSans-Light.ttf);

}

:root {
  --bg-Black: #181818;
  /* Black Background */
  --bg-Dark-Gray: #212121;
  /* Dark Gray Background */
  --bg-Light-Gray: #303030;
  /* Light Gray Background */
  --bg-Dark-Purple: #373669;
  /* Purple Background */
  --text-Gray: #afafaf;
  /* Gray Text*/
  --text-White: #ffffff;
  /* White Text*/
  --text-Pink: #dcdbf6;
  /* Pink Text */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "UI-sans", sans-serif;
  color: var(--text-White);
  display: flex;
  overflow: hidden;
}

/* sidebar started */
#sideBar {
  padding: 12px;
  background-color: var(--bg-Black);
  width: 250px;
  height: 100vh;
  position: relative;
}

.stickybar {
  position: sticky;
  top: 0px;
  z-index: 1;
}

.martop {
  margin-top: 15px;
}

.logo-nav {
  display: flex;
  justify-content: space-between;
  padding-right: 10px;
  align-items: center;
}

.btn-div-flex button {
  display: flex;
  flex-direction: row;
  text-align: left;
  align-items: center;
  background-color: transparent;
  color: var(--text-White);
  font-size: 0.78rem;
  padding: 8px 4px;
  width: 100%;
  gap: 7px;
  border: none;
  border-radius: 10px;

  cursor: pointer;

}

.btn-div-flex button:hover {
  background-color: var(--bg-Light-Gray);
}

/*chat history Started*/




/* profile div started */
.profile {
  background-color: var(--bg-Black);
  border-top: 1px solid white;
  padding: 5px;
  width: 90%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  bottom: 10px;
  z-index: 1;
}

.profile img {
  width: 22px;
  height: 22px;
  border-radius: 50%;
}

.username {
  font-size: 0.85rem;
  color: var(--text-White);
  line-height: 14px;
}

.free {
  font-size: calc(0.75);
  color: var(--text-White);
}

.upgrade {
  font-size: 0.72rem;
  padding: 5px 10px;
  border-radius: 50px;
  border: 1px solid white;
  background-color: var(--bg-Dark-Gray);
  color: var(--text-White);
}

/* sidebar ended */



/* main started */
#main {
  background-color: var(--bg-Dark-Gray);
  width: calc(100% - 250px);
  height: 100vh;
  padding: 10px 20px;
}

/* main navbar */
.main-nav {
  position: sticky;
  top: 0px;
  z-index: 1000;
  display: grid;
  grid-template-columns: 1.7fr 1fr 1fr;
  /* background-color: red; */
}

/* DropDown started from here  */
#Dropdown {
  position: relative;
}

.Dropdown-title {
  /* background-color: #ffffff; */
  margin-top: -1px;
  margin-left: 12px;
  text-align: center;
  display: flex;
  justify-content: center;
  gap: 5px;
  align-items: center;
  font-size: 1.10rem;
  cursor: pointer;
  width: 110px;
  height: 36px;
  border-radius: 8px;
}

.Dropdown-title span {
  font-size: 12px;
  color: var(--text-Gray);
}

.Dropdown-title:hover {
  background-color: var(--bg-Light-Gray);
}

.list {
  padding: 5px 10px;
  border-radius: 15px;
  width: 320px;
  height: 100px;
  background-color: var(--bg-Light-Gray);
  position: absolute;
  z-index: 1001;
  top: 35.2px;
  left: 10px;
  box-shadow: -2px 2px 10px rgba(0, 0, 0, 0.50);
}
.list div{
  
}



/* Get Plus button Started From here  */
.getplus button {
  height: 36px;
  width: 94px;
  padding: 5px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3px;
  border: none;
  border-radius: 20px;
  color: var(--text-Pink);
  background-color: var(--bg-Dark-Purple);
}

.user-div {
  /* background-color: #181818; */
  text-align: end;
  align-items: center;
}

.user-div span {
  margin: 0px 8px;
}

.user-div img {
  width: 21px;
  color: var(--text-White);
}